<%= render 'partial/error_msg', obj: @book %>

<h2>Books</h2>
<%= render 'partial/userinfo', book: @book, user: current_user%>

<div>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th></th>
  </tr>
  <tr>
  <% @books.each do |book| %>
    <%= link_to(user_path(book)) do %>
      <td><%= attachment_image_tag book.user, :profile_image, size: "40x40" %></td>
    <% end %>
    <%= link_to(book_path(book)) do %>
      <td><%= book.title %></td>
    <% end %>
      <td><%= book.body %></td>
  <% end %>
  </tr>
</div>