<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
  <%= link_to "Home", "#" %>
  <%= link_to "Users", "#" %>
  <%= link_to "Bookers", "#" %>
  <%= link_to "logout", "#", method: :delete %>
  <% else %>
  <%= link_to "Home", "#" %>
  <%= link_to "About", "#" %>
  <%= link_to "sign up", "#" %>
  <%= link_to "login", "#" %>
  <% end %>
    <%= yield %>
  </body>
</html>
